.sidebar__footer { display:none; }

/*rutracker.org*/

.vf-opt-links { display:none; }
.top-menus { display:none; }
.middot-separated { display:none; }

.floatL { display:none; }
#footer-info-links { display:none !important; }
#page-footer { display:none !important;}
.mrg_2 { display:none; }

.txtb { display:none; }
.t-post-buttons { display:none; }
.pad_4 { display:none; }

/*overclockers.ru*/

.hide-tablet { display:none; }

